* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #333;
}

header h1 {
    margin: 30px;
    color: #0065B7;
    font-size: 2.5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    max-width: 700px;
}

.number {
    background-color: #0065B7;
    color: azure;
    width: 45px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
}

.number:hover {
    background-color: #1E9BB1;
    transition: all .3s;
}

.selected-number {
    background-color: #209869;
}

button:disabled {
    opacity: 0.2;
    cursor: auto;
}

button:disabled:hover {
    background-color: #0065B7;
}

button {
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: #0065B7;
    color: white;
    transition: all .3s;
}

button:hover {
    background-color: #1E9BB1;
}

#megasena-saved-games p {
    font-size: 20px;
    font-weight: 700;
    color: #0065B7;
    margin-bottom: 7px;
}

#megasena-saved-games ul {
    list-style-type: ticket;
}

#megasena-saved-games li {
    text-align: left;
    font-size: 18px;
}

@counter-style ticket {
    system: cyclic;
    symbols: "\1F3AB";
    suffix: " ";
}